*{
margin: 1%;
padding: 0%;
cursor:context-menu;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 90vh;
background-color: #aa73fc; 
}
h2{
text-align: center;
margin-top: 5vmin;
margin-bottom: 5vmin;
}
#container{
scale: 1.3;
background-color: whitesmoke;
border-radius: 0.75rem;
box-shadow: 0 0 15px rgba(0, 0, 0);
}
.amount{
display: grid;   
place-items: center;
font-weight:600;
}
#from-to{
height: 20vmin;
width: 50vmin;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}
#arrow{
position: relative;
right:5%;
}
img{
height: 5vmin;
width: 5vmin;
}
#msg{
display: grid;
place-items: center;
}
form,select,input{
outline: none;
border-radius: 0.2rem;
text-align: center;
cursor: pointer;
}
input{
width: 75%;
height: 30px;
cursor: text;
}
button{
font-weight: 600;
height: 5vmin;
width: 70%;
border-radius: 0.5rem;
background-color: #af4d98;
border: 1.5px solid black;
cursor: pointer;
margin-bottom: 5%;
color: white;
}
button:hover{
scale: 1.03;
}
.result{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
margin-bottom: 5%;
}

@media (max-width : 600px) {
button{
margin: 0%;
height: 25px;
}
#msg{
text-align:center;
font-size: 12px;
margin: 0%;
}
}
